body {
    font-size: 62.5%;
    margin: 0;
    background-color: #004E00;
    box-sizing: border-box;
}
#bannercontainer{
    max-width: 50%;
    margin: 50px auto 0 auto;
    color: #fff;
    box-sizing: border-box;
    padding: 0 20px;
}
#bannercontainer h1{
    font-size: 2.5rem;
    margin: 0;
}
#preamble-container {
    border: solid 1px #fff;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}
section {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
}
#hero {
    background-color: #008000;
    font-size: 1.3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 25px;
    color: #fff;
    font-weight: 400;
}
header {
    max-width: 100%;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
}
header p{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
}
h1 {
    font-size: 2rem;
    margin: 0;
}
h2 {
    font-size: 1.2rem;
    margin: 0;
}
h3 {
    font-size: 1.1rem;
    margin: 0;
}
#content {
    width: 100%;
    padding: 0 15px;
    border-right: solid 3px #0A8A0A;
    border-bottom: solid 3px #0A8A0A;
    border-left: solid 3px #0A8A0A;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
article {
    max-width: 100%;
    font-size: .9rem;
    font-weight: bold;
    color: #4F0000;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 0;
}
.failed-result {
    color: #f00;
    padding: 5px 0;
}
#footer{
    text-align: center;
    margin-top: 50px;
    background-color: transparent;
    font-size: .8rem;
    color: #fff;
}