html, body{
    font-family: 'Lora', serif;
    font-size: 11px;
    margin: 0 0 300px 0;
    color: #aaa;
}
h1{
    margin: 0;
    font-size: 2.5rem;
    color: #888;
}
h1 + small{
    font-size: 1rem;
    color: #AAA;
}
header{
    background-color: #FFF;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    padding: 10px 0 10px 20px;
    opacity: 1;
    border-bottom: solid 1px #CCC;
    box-sizing: border-box;
}
header input:first-child {
    margin-left: 0;
}
.container{
    margin: 73px 0 0 0;
    width: 100%;
    box-sizing: border-box;
}
p:last-child{
    margin-bottom: 0;
}
#preamble-results-container{
    font-size: 1rem;
    display: none;
}
section{
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px #CCC;
    font-size: 1rem;
}
.group-container{
    padding-top: 15px;
}
/*v2.0.0*/
.group-container-hidden{
    display: none;
}
.group-container:first-child {
    padding-top: 0;
}
.group-container a{
    text-decoration: none;
}
.group-container a:hover{
    text-decoration: underline;
}
.group {
    color: #888;
}
.tests-container{
    padding: 5px 20px 0 20px;
}
.tests-container a{
    text-decoration: none;
}
.tests-container a:hover{
    text-decoration: underline;
}
.test{
    color: #888;
}
.assertion-container{
    padding: 5px 20px 0 20px;
}
.assertion-container a{
    text-decoration: none;
}
.assertion-container a:hover{
    text-decoration: underline;
}
.passed {
    color: #008400;
}
.failed {
    color: #f40000;
}
.bold {
    font-weight: bold;
}
.stacktrace-container {
    padding: 0 20px 0 40px;
}
.stacktrace {
    margin: 0;
    padding: 5px 20px 0 0;
}
.ui-test-container{
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 1000px;
    height: 1000px
}
