@import 'prefixer.less';
@bg-color: #fdf6e3;
@font-size: 11px;
@normal-color: rgb(51, 51, 51);
@darker-color: #657b83;
@passed-color: rgb(60, 179, 113);
@failed-color: rgb(255,69,0);
@groups-tests-color: rgb(51, 51, 51);
html, body{
    font-family: Monaco, "Lucida Console", monospace;
    font-size: @font-size;
    margin: 0;
    background-color: @bg-color;
    color: @normal-color;
}
h1{
    margin: 0;
    font-size: @font-size;
    color: @normal-color;
}
h1 + small{
    font-size: @font-size;
    color: @normal-color;
}
header{
    background-color: @bg-color;
    width: 100%;
    .border-box;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.table{
    display: table;
    width: 100%;
    .border-box;
}
.banner-table{
    .table;
    padding: 10px 30px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px #CCC;
}
.hidden{
    display: none;
}
#banner{
    /* float: left; */
    display: table-cell;
    width: 50%;
}
#version{
    font-size: .8rem;
}
#time{
    display: none;
    /* float: right; */
    width: 50%;
    text-align: right;
}
.summary{
    padding: 10px 10px;
    font-weight: bold;
}
#coverage{
    .summary;
    color: @normal-color;
    background-color: #ebdfc0;
    line-height: 18px;
}
#coverage a{
    color: @normal-color;
}
.hptui{
    float: right;
}
header input:first-child {
    margin-left: 0;
}
.container{
    margin-top: 140px;
    margin-bottom: 5em;
    width: 100%;
    .border-box;
}
.summary-passed {
    .summary;
    background-color: @passed-color;
    color: #fff;
}
.summary-failed {
    .summary;
    background-color: @failed-color;
    color: #fff;
}
.passed{
    color: @passed-color;
}
.failed{
    color: @failed-color;
}
p:last-child{
    margin-bottom: 0;
}
#preamble-results-container{
    padding: 0 20px;
    font-size: 1rem;
    display: none;
    .border-box;
}
#preamble-status-container{
    padding: 10px 20px 5px 20px;
    width: 100%;
    .border-box;
    font-size: 1rem;
    /* section:first-child{
        padding: 5px 20px;
    } */
}
.group-container{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    list-style: none;
}
.group-container li{
    padding-top: 5px;
}
.group-container li a{
    text-decoration: none;
}
.group-container a:hover{
    text-decoration: underline;
}
.group{
    color: @groups-tests-color;
}
.tests-container{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    list-style: none;
}
.tests-container a{
    text-decoration: none;
}
.tests-container a:hover{
    text-decoration: underline;
}
.test-bypassed{
    color: @groups-tests-color;
}
.assertion-container{
    padding: 5px 20px 0 20px;
}
.assertion-container a{
    text-decoration: none;
}
.assertion-container a:hover{
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.stacktrace-container {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    list-style: none;
}
.stacktrace-container p {
    padding: 0;
    line-height: 1rem;
}
.stacktrace {
    margin: 0;
    padding: 5px 20px 0 0;
    color: @failed-color;
}
.ui-test-container{
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 1000px;
    height: 1000px;
}
